@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 *{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("images/bg.jpg") #030728 no-repeat center;
 }

 /* no-repeat faz com que a imagem de fundo seja exibida apenas uma vez. */
 /* center significa que a imagem de fundo será centralizada tanto horizontalmente quanto verticalmente 
 dentro do elemento. */

 .slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
 }

.card-list .card-item{
    color: antiquewhite;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

 .card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card-list .card-item .user-profession{
    font-size: 1.2rem;
    font-weight: 500;
    color: #e3e3e3;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
}

.card-list .card-item .message-button:hover{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffff;
    color: #fff;


}

.slider-wrapper .swipper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: #fff;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button{
    color: #4658ff;
}